@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Poppins&display=swap');
:root{
    --blue:#2D9CDB;

}
section{
    padding-top:30px;
    padding-bottom:30px;
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    letter-spacing:2px;
}
footer i{
    font-size:30px;
    margin:7px;
}

.nav{
    
    font-weight: 700;

   




}
.toggle{
    display:none;
    position:absolute;
    right:2rem;
    top:2rem;
    font-size: 2rem;
}

.nav-list{
   
}
.nav-item{
    display:block;
    padding:4vh;
    font-size: larger;
    cursor: pointer;
    margin-left: 1rem;
text-align: center;


}
.brand{
    font-size:4rem;
    font-weight:700;
   padding-left: 2rem;
    text-align: center;
    
    
}
.nav-item:hover{
    text-decoration: underline;
    text-decoration-thickness: 5px;

}
.flex-space-bet{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.flex{
    display:flex;

}
h4{

    font-size:2rem ;
    padding-left:4rem;
    margin:0;
   
  
}

h5{
    font-size:1.75rem;
}
.button{
    display:inline-block;
    background-color:var(--blue);
    color:white;
    padding:.75rem;
    text-decoration: none;
    border-radius: 1.5rem;
    letter-spacing: 2px;
    
}
.services{
    display:flex;
    justify-content:space-around;
    align-items: center;
    /* margin-bottom: 5rem; */
    
}
.service{
    padding:2rem;
    width: 20vw;
    border-radius: 10px;
}
.service:hover{
    box-shadow: 1px 1px 10px rgb(194, 190, 190);
}
.service>.button{
    background:#E0E0E0;
    color:#828282;

}
.services *.fa-solid{
    padding:20px;
    font-size:3rem;
    color:white;
    border-radius: 16px;
    
}
.service:hover>.button{
    background:var(--blue);
    color:white;
}
.container{
    width:90vw;
    margin:auto;
   
    
}
.input{
    display:inline-flex;
    border:1px solid black;
    border-radius:1rem;
    padding-left:2rem;
    width:300px;
    justify-content:space-between;background:#F2F2F2;

}
.input>.button{
    border-radius: 1rem;
    letter-spacing: 4px;
    padding-left:2rem;
    padding-right:2rem;
    margin-right: 1px;
}
input{
    border:none;
    font-family: inherit;
    width:80%;
    background:#F2F2F2;
   
}
input:focus,input:hover,input:active{
    border:none;
    outline:none;
    
}
    footer {
        background-color: rgb(16, 14, 14);
        height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        color:white;
    
    }
    ul,li{
        padding: 0;
        list-style-type:none;
    }
    .socials{
        text-align: center;
    }
  
    .link{
        padding:1rem;
    }
 

    /* --------------img============= */
    .img-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    width:60%;
    text-align: center;
    
    
    /* Gray 1 */
    
    color: #333333;
    }
    .section-img{
       
    }
    .img-container{
        width: 545px;
 
        margin:30px;
      
    }
    .img-container-desc{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        
        /* Gray 3 */
        
        color: #828282;
    }
    .img-container-name{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
    .img-container>img{
        border-radius: 12px;
    }
    .img-cont1{
        display:flex;
        flex-direction: column;
        align-items: center;
       
        margin-top:30vh;
      

    }
    .img-cont2{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .img-cont3{
        display:flex;
    
    justify-content: center;
        
    }




    /* --------------img============= */







    /* -------------review------------- */

    .review{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        
        /* Gray 1 */
        width:60%;
        color: #333333;
    }
    .review-i{
        width: 135px;
        height: 162px;
        border-radius:12px;
    }.review-box{
        padding:20px;
        display:flex;
        line-height: 3;
        gap:20px;
        
    }
    .review-d{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        
        
        /* Gray 3 */
        
        color: #828282;
    }
    /* -------------review------------- */


    /* --------main------------------- */
    .container-50{
        width:80%;
       
        margin:auto
       
    }
    .container-30{
       
        width: 30%;
        margin:auto;
    }
    .input{
        margin:20px;
    }
    .main-heading{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 72px;
    }
    .multi-line{
white-space: pre-wrap;
    }
    /* --------main------------------- */



    /* ---------------------meet----------- */


    .meet{
        display:flex;
       
        min-height:50vh;
        justify-content: space-between;
        flex:1;
    }
    .meet-text{
        display:flex;
       
        flex-direction: column;
       justify-content:center;
        
        
    }
    .img1-cont3{
        
    }
    .meet img{
        border-radius:12px;
        margin:10px;
        width:80%;
       
        object-fit: center;
       
    
    }
    .img1-cont3{
        display:flex;
    
       
       
    }
    .img1-cont2{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .img1-cont1{
        display:flex;
        flex-direction: column;
    }
    .meet-small{
       
        /* Meet the team */
        
        
      
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        
        
        color: #EB5757;
    }
    .meet-large{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
       
    }
    /* ---------------------meet----------- */
@media (max-width: 1000px) {
    
        .nav-list{
                flex-direction:column;
                width:100%;
              
        }
        .brand{
            width:100%;
            margin-left:1rem;
        }
        .nav{
            flex-direction:column;
             
        }
        .toggle{
            display:block;
        }
        .hide{
            display:none;
        }
        .services{
            flex-direction:column;
        }
       .img-cont3{
           flex-direction:column;
       }
        
        .service{
            width:80%;
            text-align: center;
        }
        .review{
            width:100%;
        }
 
        .meet{
            flex-direction: column;
        }


    
  
    
    }

